* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
body {
    background: linear-gradient(#d5e966, #3f95b9);
}
#UIbox {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 10;
}
#edit_mode {
    display: inline-block;
    width: 100px;
    height: 30px;
    line-height: 30px;
    color: #fff;
    font-size: 14px;;
    background: #1a1a1a;
    padding: 0 0 0 5px;
    border-left: 3px solid #2FA1D6;
    border-bottom: 1px solid #2c2c2c;
}
#edit_mode i{
    margin: 0 4px 0 0;
}
#edit_mode em {
    font-style: normal;
}

#bgm {
    position: fixed;
    left: 0;
    top: 31px;
    z-index: 100;
    width: 100px;
    height: 30px;
    font-size: 14px;;
    background: #1a1a1a;
    padding: 0 0 0 5px;
    border-left: 3px solid #2FA1D6;
}
#bgm span {
    display: block;
    line-height: 30px;
    color: #fff;
}
#bgm i{
    margin: 0 4px 0 0;
}
#bgm em {
    font-style: normal;
}